.DS_Store
.grunt
.hg
.idea
.lock-wscript
.svn

_notes
build/Release
coverage
lib-cov
logs
node_modules
pids
test/output
desktop.ini
Thumbs.db

*.cfg
*.dmp
*.log
*.pid
*.seed
*.sublime-project
*.sublime-workspace
